body {
    background-color: lavander;
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: purple;
    text-align: center;
}
h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    text-align: center;
}
h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    text-align: left;
    font-size: 30px;
    font-style: italic;
}
p {
    font-family: arial;
    font-size: 14px;
}